.container{
    margin-top: 15%;
    
}

.m-0 {
    color: rgb(0, 0, 0); text-transform: uppercase; text-decoration: solid;
}
body {
    background-image:url(https://static.vecteezy.com/system/resources/thumbnails/013/113/501/original/moving-abstract-gradient-background-futuristic-motion-gradient-animation-gradient-rainbow-loopable-animation-full-hd-4k-free-video.jpg) ;
    background-size: no-repeat; background-position: center;
.col {
    background-size: no-repeat; background-position: center;
